body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------HEADER------- */
.header {
  background: #ffffff;
}
.header-nav {
}
/* logo */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-web {
  color: #4d5ae5;
}
.nav-list {
}

.nav-item {
}
.nav-link {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.address {
}
.address-list {
}
.addres-item {
}
.mail-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.mail-link:hover,
.mail-link:focus,
.mail-link:active {
  color: #404bbf;
}
.telefon-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

.telefon-link:hover,
.telefon-link:focus,
.telefon-link:active {
  color: #404bbf;
}

/* -------HERO------- */
.hero {
  background: #2e2f42;
}
.hero-maim-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background: #404bbf;
}
